{{> sidebarLeft}}

{{> sidebarRight}}


{{!-- <div class="base__container"> --}}
  <div class="project__header">
    <div class="ui card">
      <div class="content">
        <div class="header">
          <h2>{{project.title}}</h2>
        </div>
        <div class="meta">
          <p>{{project.user.username}}</p>
          <div class="right floated">
            <p>{{dateFormat project.createdAt "MMMM Do YYYY"}}</p>
            <p>{{project.status}}</p>
            <a href="{{project.github}}">Github</a>
            <a href="/project/{{project._id}}/edit" id="post__button">
              <div class="project__edit__buttons">
                <a href="/project/{{project._id}}/edit" id="post__button">
                  <button class="ui yellow button">
                    <i class="edit outline icon"></i>
                    Project Info
                  </button>
                </a>
                <a href="/project/{{project._id}}/edit" id="post__button">
                  <button class="ui yellow button">
                    <i class="edit outline icon"></i>
                    Add User
                  </button>
                </a>
              </div>
          </div>
        </div>
        <p>{{project.description}}</p>
      </div>
    </div>
  </div>

  <div class="ui two column centered grid">

    <div class="four column centered row">
      <div class="column">
        <h2 class="ui header">Owner</h2>
        Manish
        {{project.username}}
      </div>
      <div class="column">
        <h2>Feedback</h2>
        <p>feedback here</p>
      </div>
    </div>
  </div>


  <div class="project__contents">

    <div class="project__contents__container">
      <div class="project__content">
        <table class="ui table">
          <div class="project__content__header">
            <h3>Task</h3>
            <a href="/create/{{project._id}}/task" id="post__button">
              <i class="edit outline icon"></i><span>Add New Task</span>
            </a>
          </div>
          <thead>
            <tr>
              <th class="ten wide">
                Item
              </th>
              <th class="six wide">Status</th>
              <th class="six wide"></th>

            </tr>
          </thead>
          <tbody>
            {{#each tasks}}
            <tr>
              <td>{{this.item}}</td>
              <td>{{this.status}}</td>
              <td>
                <a href="/project/{{this._id}}/editTask" id="post__button">
                  <button class="ui yellow button">
                    <i class="edit outline icon"></i>
                  </button>
                </a>
              </td>

            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>

    </div>

  </div>


{{!-- </div> --}}