{{> sidebarLeft}}

{{> sidebarRight}}

<div class="center-screen">

  <div class="ui container aligned grind">

    <div class="ui concenter aligned grid">
      <div class="ui items form__size">

        <form class="ui form " method="POST" action="/project/{{task._id}}/editTask">
          <h2>Edit Task</h2>

          <div class="field">
            <input name="item" type="text" class="form-control" id="task" value="{{task.item}}">
          </div>
          <div class="field">
            <select class="ui fluid dropdown" name="status">
              <option value="{{task.status}}">{{task.status}}</option>
              <option value="Closed">Closed</option>
              <option value="Reopen">Reopen</option>
            </select>
          </div>

          <button type="submit" class="ui fluid large teal button">
            <i class="save icon"></i>
            Save
          </button>
        </form>

        <div class="ui divider"></div>

        <form class="ui form " method="POST" action="/project/{{task._id}}/deleteTask">
          <button type="submit" class="ui fluid large red button">
            <i class="trash alternate icon"></i>
            Delete
          </button>
        </form>



      </div>
    </div>
  </div>
</div>