{{> sidebarLeft}}

{{> sidebarRight}}

<div class="center-screen">
  <div class="ui text container">
    <form class="ui form fluid" method="POST" action="/project/{{project._id}}/edit">
      <h2>Edit Your Project</h2>

      <div class="field">
        <input type="text" value="{{project.title}}" name='title' class="form-control" required>
      </div>

      <div class="field">
        <textarea type="text" name='description' class="form-control" required>{{project.description}}</textarea>
      </div>

      <div class="two fields">
        <div class="field">
          <select class="ui fluid dropdown" name="status" required>
            <option value="{{project.status}}">{{project.status}}</option>
            <option value="Closed">Closed</option>
            <option value="Closed">Reopen</option>
          </select>
        </div>
      </div>
      <button type="submit" class="ui large teal button fluid centered  project__edit__button">
        <i class="save outline icon"></i>
        Save
      </button>
    </form>

    <form class="ui form " method="POST" action="/project/{{project._id}}/delete">
      <button type="submit" class="ui  large red button fluid centered  project__edit__button">
        <i class="trash alternate icon"></i>
        Delete
      </button>
    </form>
  </div>
</div>